@page "/radiobinding"

<h3>Radio Binding</h3>

<div class="m-2">
    <p>I am a <b>@JobTitle</b> at HealthStream</p>
</div>

<div class="m-2">
    <p>I work at the <b>@OfficeLocation</b> office</p>
</div>
